#content{ margin-top: 25px }

#search-input{
    width: 100%;
    font-size: 30px;
    padding: 15px;

}

.icon-preview {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background: #D5D5D5;
    border-radius: 3px;
    cursor: pointer;
}
.icon-preview span {
    display: none;
    position: absolute;
    background: black;
    color: #EEE;
    padding: 5px 8px;
    font-size: 15px;
    font-family: Roboto;
    border-radius: 2px;
    z-index: 10;
}
.icon-preview:hover i { color: #4285f4; }
.icon-preview:hover span { display: block; cursor: text; }

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}